{% extends 'tasks/base.html' %}

{% block content %}
    <div style="margin: 30px 80px;">
    <h1>Tareas Completadas</h1>
    {% if not user.is_authenticated %}
        <h2>Debes iniciar sesión para ver las tareas</h2>
    {% else %}
        <p style="font-size: 1.4em;">Bienvenido, {{ user.username }}. Aquí están tus tareas completadas:</p>
        <div class='task__container'>
        {% for task in tasks %}
            <div class='task'>
                <h3>{{ task.title }}</h3>
                <p>{{ task.description }}</p>
                <p>{{task.date_completed|date:'M y Y'}}</p>
            </div>
        {% empty %}
            <p>No tienes tareas por el momento.</p>
        {% endfor %}
        </div>
    {% endif %}
    </div>

<style>
    .task__container {
        display: grid; 
        grid-template-columns: repeat(3, 1fr);margin-top: 40px;
    }

    .task {
        background-color: #48e9; 
        padding: 8px; 
        margin-bottom: 35px; 
        width: 300px; 
        border-radius: 6px;
        transition: scale 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    .task:hover {
        scale: 1.03;
        box-shadow: 0 0 40px #47e5;
    }

    @media screen and (max-width:1150px) {
        .task__container {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (max-width:820px) {
        .task__container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
</style>
{% endblock %}